body {
  background-color: #f8f9fa;
}
.container {
  max-width: 800px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.btn-group label,
.form-select {
  width: 100%;
}

.upload-button-label {
  cursor: pointer;
  padding: 0.375rem 0.75rem; /* Bootstrap default button padding */
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem; /* Bootstrap default button border-radius */
  border: 1px solid #ced4da; /* Light gray border */
  background-color: #f8f9fa; /* Light background */
  color: #495057; /* Dark gray text */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-right: 5px;
  display: inline-block; /* To align with the dashboard button */
}

.upload-button-label:hover {
  background-color: #e2e6ea;
  border-color: #d3d9df;
}

.file {
  display: none;
}
